.forecast{
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.9em;
	border-spacing: 0px 0.5rem;
}

.today{
	background-color:#005689;
	color:white;
}

.anotherDate{
	background-color: #0092D1;
	color:white;
}

.day{
	float: left;
}

.imgWeather{
	width: 27px;
}

.thermometer{
	width: 7px;
	padding-right: 10px;
	padding-left: 10px;
}

.compas{
	width: 20px;
}

.degree{
	width: 21px;
}

.allData{
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	vertical-align: middle;
}

.typeWeather{
	font-size: 0.8em;
	font-weight: lighter;
}

.maxmin{
	font-size: 0.5em;
}

.maxminDegree{
	font-size: 1.4em;
}

.viteaza{
	font-size: 0.5em;
	font-weight: lighter;
}

.cer-variabil{
	margin-bottom: -5px; 
	width: 23px;"
}