.SiteBody{
	background-color: #FAFAFF;
}

.SiteHeadText{
	color: #17355D;
	border: 5 black solid;
	text-align: center;
}

.SiteHead{
	position: fixed;
	border: 1px #E4EFFF solid;
	width: 100%;
   	margin: 0;
   	padding: 0;
   	background-color: #F4FAFF;
   	top: 0;
   	left: 0;
}